.page {
    @include flexIt();
}

.page_title {
    margin: 150px 0px;
    h1 {
        margin: 0;
    }
}

.page_down {
    @include flexIt();

    & > img {
        max-width: 60px;
        height: auto;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }
    }
}

.page_left {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact {
    align-items: flex-start;
}

.contact_content {
    padding: 0px 30px;
}

.content_title {
    margin-top: 100px;
    margin-bottom: 30px;
    color: #272834;
}

.page_button {
    margin-top: 20px;
}

#blockColorblindContent {
    display: none;

}

.content {
    width: 100%;
}

.content_flexbox {
    display: flex;
    padding: 20px 50px;

    & > div {
        flex: 1;
    }
}

#campused {
    color: #1F5A98;
    & > span {
        color: #EA7317;
    }
}

#adogpt {
    color: #EF9B89;
    & > span {
        color: #B0D0D3;
    }
}

#petsave {
    color: #000;
    & > span {
        color: #54BAF3;
    }
}