.page {
    @include flexIt();
}

.page_title {
    margin-top: 300px;
    h1 {
        margin: 0;
    }
}

.contact {
    align-items: flex-start;
}

.contact_content {
    padding-left: 30px;

    & > h5 {
        margin-bottom: 50px;
    }

#blockColorblindContent {
    display: none;

}

// #about {
//     position: absolute;
//     right: -100%;
// }