.page {
    @include flexIt();
}

.page_title {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0px;
    h1 {
        margin: 0;
    }
    transform: none;
}

.page_down {
    @include flexIt();
    // position: sticky;
    padding-top: 25%;
    // position: absolute;
    // bottom: 30px;
    width: 100%;

    & > img {
        max-width: 60px;
        height: auto;
        cursor: pointer;
        // &:hover {
        //     transform: scale(1.1);
        //     transition: transform 0.5s;
        // }
    }
}

#href {
    padding-top: 100px;
}

.page_left {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact {
    align-items: flex-start;
}

.contact_content {
    padding: 0px 30px;
}

.content_title {
    margin-top: 100px;
    margin-bottom: 30px;
    color: #272834;
}

.page_button {
    margin-top: 20px;
}

#blockColorblindContent {
    display: none;

}

.content {
    width: 100%;
    padding-top: 80px;
}

.content_flexbox {
    display: flex;
    padding: 20px 50px;
    align-items: center;

    & > div {
        flex: 1;
    }
}

.content_flexbox_box {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;

    & > div {
        flex: 1;
    }
}

#adogpt {
    color: #EF9B89;
    & > span {
        color: #B0D0D3;
    }
}


.more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    & > * {
        margin: 0px 15px;
    }
}

.about {
    display: flex;
    padding: 20px 50px;
    align-items: flex-start;
}

.about_banner {
    background-color: #F4F5F5;
    margin-top: 30px;
}

#about_pie {
    max-width: 30%;
    margin: 0px 50px 0px -50px;
}